#_google {
}

    #_google .logo {
        margin-top: 20vh;
    }

    #_google .searchgroup {
        width: 40%;
        margin-left: 30%;
        margin-top: 5vh;
        border: 1px solid #dfe1e5;
        border-radius: 24px;
    }

        #_google .searchgroup i {
            color: gray;
            height: 50px;
            display: flex;
            align-items: center;
        }

        #_google .searchgroup .fa-search {
            padding-left: 25px;
        }

        #_google .searchgroup .fa-microphone {
            padding-right: 25px;
        }

    #_google .search {
        border-width: 0 !important;
        width: 80%;
        height: 50px;
        padding-left: 25px;
    }

        #_google .search:focus {
            border-color: transparent;
            box-shadow: 0;
            outline: 0 none;
        }


    #_google .inputGroup {
        width: 40%;
        margin-left: 30%;
        margin-top: 5vh;
    }

        #_google .inputGroup input {
            text-align: center;
            margin: 0 15px;
        }


    #_google .tipsGroup {
        width: 100%;
        margin-top: 5vh;
        font-size: small;
    }
